.site-footer {
    background-color: #036;
    color: #c9d1d9;
    text-align: center;
    padding: 20px 10px;
    font-size: 14px;
}

.site-footer a {
    color: white;
    text-decoration: none;
}

.site-footer a:visited {
    color: white;
}

.site-footer a:hover {
    color: #007bff;
}

.social-media-icons {
    margin-bottom: 10px;
}

.social-icon {
    font-size: 24px;
    margin: 0 10px;
    color: #c9d1d9;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #007bff;
}

.copyright {
    margin: 0;
}